@font-face {
    font-family: 'YouSheBiaoTiHei'; /* 自定义字体名称 */
    src: url('@/assets/Font/YouSheBiaoTiHei-2.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* 优化字体加载 */
}

.a1024card{
    width: 100%;
    background-color: #5dade2;
    height: 400px;
}

.a1024title{
    font-size: 50px;
    display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;
  height: 25vh;
  font-family:'YouSheBiaoTiHei';
}

.a1024text{
    font-size: 20px;
    display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;
  font-family:'YouSheBiaoTiHei';
}